 .u-section-1 {
  background-image: linear-gradient(#e5e5e5, #a08c75);
}

.u-section-1 .u-sheet-1 {
  min-height: 929px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-1 .u-image-1 {
  min-height: 561px;
  background-image: url("images/at-17.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 242px;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px 40px 20px 0;
}

.u-section-1 .u-text-1 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 604px;
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 20px;
}

.u-section-1 .u-image-2 {
  min-height: 453px;
  width: 397px;
  background-image: url("images/texture-min.png");
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 437px;
  height: 437px;
  background-image: url("images/T.jpg");
  background-position: 50% 50%;
  margin: -401px auto 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 1127px;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  margin: 0 40px 0 0;
}

.u-section-1 .u-image-4 {
  height: 198px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 463px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 200px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 544px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 929px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    height: 163px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1718px;
  }

  .u-section-1 .u-image-1 {
    min-height: 709px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 612px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    height: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1364px;
  }

  .u-section-1 .u-image-1 {
    min-height: 532px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 560px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 188px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-1 .u-image-1 {
    min-height: 335px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 354px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-image-4 {
    height: 118px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 810px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 56px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 33px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 702px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-image-1 {
  height: 275px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 702px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-2 {
  width: 454px;
  height: 324px;
  margin: 27px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 33px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 579px;
  }

  .u-section-2 .u-image-1 {
    height: 221px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 579px;
  }

  .u-section-2 .u-image-2 {
    width: 410px;
    height: 293px;
    margin-top: -37px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 162px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 300px;
    height: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-image-1 {
    height: 281px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1041px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 56px;
  }

  .u-section-2 .u-image-1 {
    height: 173px;
  }
} .u-section-3 {
  background-image: linear-gradient(#e5bb8d, #fcf8f3);
}

.u-section-3 .u-sheet-1 {
  min-height: 638px;
}

.u-section-3 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 79px 0 0 auto;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-text-1 {
  margin: -220px 695px 0 31px;
}

.u-section-3 .u-text-2 {
  font-size: 0.75rem;
  margin: 143px 0 60px 532px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 680px;
    margin-left: 0;
    margin-right: 526px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 332px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 306px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 112px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-3 .u-video-1 {
    height: 300px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
    margin-top: 160px;
    margin-right: 126px;
    margin-bottom: 40px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-3 .u-video-1 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: 147px;
    margin-right: 0;
    margin-bottom: 0;
  }
}